.mgb-0 {
	margin-bottom: 0 !important;
}

.mgb-5 {
  margin-bottom: 5px !important;
}

.mgb-10 {
  margin-bottom: 10px !important;
}

.mgb-15 {
  margin-bottom: 15px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.mgb-25 {
  margin-bottom: 25px !important;
}

.mgb-30 {
  margin-bottom: 30px !important;
}

.mgb-35 {
  margin-bottom: 35px !important;
}

.mgb-40 {
  margin-bottom: 40px !important;
}

.mgb-45 {
  margin-bottom: 45px !important;
}

.mgb-50 {
  margin-bottom: 50px !important;
}

.mgb-55 {
  margin-bottom: 55px !important;
}

.mgb-60 {
  margin-bottom: 60px !important;
}

.mgb-65 {
  margin-bottom: 65px !important;
}

.mgb-70 {
  margin-bottom: 70px !important;
}

.mgb-75 {
  margin-bottom: 75px !important;
}

.mgb-80 {
  margin-bottom: 80px !important;
}

.mgb-85 {
  margin-bottom: 85px !important;
}

.mgb-90 {
  margin-bottom: 90px !important;
}

.mgb-95 {
  margin-bottom: 95px !important;
}

.mgb-100 {
  margin-bottom: 100px !important;
}

.mgb-105 {
  margin-bottom: 105px !important;
}

.mgb-110 {
  margin-bottom: 110px !important;
}

.mgb-115 {
  margin-bottom: 115px !important;
}

.mgb-120 {
  margin-bottom: 120px !important;
}

.mgb-125 {
  margin-bottom: 125px !important;
}

.mgb-130 {
  margin-bottom: 130px !important;
}

.mgb-135 {
  margin-bottom: 135px !important;
}

.mgb-140 {
  margin-bottom: 140px !important;
}

.mgb-145 {
  margin-bottom: 145px !important;
}

.mgb-150 {
  margin-bottom: 150px !important;
}

.mgb-155 {
  margin-bottom: 155px !important;
}

.mgb-160 {
  margin-bottom: 160px !important;
}

.mgb-165 {
  margin-bottom: 165px !important;
}

.mgb-170 {
  margin-bottom: 170px !important;
}

.mgb-175 {
  margin-bottom: 175px !important;
}

.mgb-180 {
  margin-bottom: 180px !important;
}

.mgb-185 {
  margin-bottom: 185px !important;
}

.mgb-190 {
  margin-bottom: 190px !important;
}

.mgb-195 {
  margin-bottom: 195px !important;
}

.mgb-200 {
  margin-bottom: 200px !important;
}