@include mq-tablet() {

  .mgb-sm-0 {
    margin-bottom: 0 !important;
  }

  .mgb-sm-5 {
    margin-bottom: 5px !important;
  }

  .mgb-sm-10 {
    margin-bottom: 10px !important;
  }

  .mgb-sm-15 {
    margin-bottom: 15px !important;
  }

  .mgb-sm-20 {
    margin-bottom: 20px !important;
  }

  .mgb-sm-25 {
    margin-bottom: 25px !important;
  }

  .mgb-sm-30 {
    margin-bottom: 30px !important;
  }

  .mgb-sm-35 {
    margin-bottom: 35px !important;
  }

  .mgb-sm-40 {
    margin-bottom: 40px !important;
  }

  .mgb-sm-45 {
    margin-bottom: 45px !important;
  }

  .mgb-sm-50 {
    margin-bottom: 50px !important;
  }

  .mgb-sm-55 {
    margin-bottom: 55px !important;
  }

  .mgb-sm-60 {
    margin-bottom: 60px !important;
  }

  .mgb-sm-65 {
    margin-bottom: 65px !important;
  }

  .mgb-sm-70 {
    margin-bottom: 70px !important;
  }

  .mgb-sm-75 {
    margin-bottom: 75px !important;
  }

  .mgb-sm-80 {
    margin-bottom: 80px !important;
  }

  .mgb-sm-85 {
    margin-bottom: 85px !important;
  }

  .mgb-sm-90 {
    margin-bottom: 90px !important;
  }

  .mgb-sm-95 {
    margin-bottom: 95px !important;
  }

  .mgb-sm-100 {
    margin-bottom: 100px !important;
  }

  .mgb-sm-105 {
    margin-bottom: 105px !important;
  }

  .mgb-sm-110 {
    margin-bottom: 110px !important;
  }

  .mgb-sm-115 {
    margin-bottom: 115px !important;
  }

  .mgb-sm-120 {
    margin-bottom: 120px !important;
  }

  .mgb-sm-125 {
    margin-bottom: 125px !important;
  }

  .mgb-sm-130 {
    margin-bottom: 130px !important;
  }

  .mgb-sm-135 {
    margin-bottom: 135px !important;
  }

  .mgb-sm-140 {
    margin-bottom: 140px !important;
  }

  .mgb-sm-145 {
    margin-bottom: 145px !important;
  }

  .mgb-sm-150 {
    margin-bottom: 150px !important;
  }

  .mgb-sm-155 {
    margin-bottom: 155px !important;
  }

  .mgb-sm-160 {
    margin-bottom: 160px !important;
  }

  .mgb-sm-165 {
    margin-bottom: 165px !important;
  }

  .mgb-sm-170 {
    margin-bottom: 170px !important;
  }

  .mgb-sm-175 {
    margin-bottom: 175px !important;
  }

  .mgb-sm-180 {
    margin-bottom: 180px !important;
  }

  .mgb-sm-185 {
    margin-bottom: 185px !important;
  }

  .mgb-sm-190 {
    margin-bottom: 190px !important;
  }

  .mgb-sm-195 {
    margin-bottom: 195px !important;
  }

  .mgb-sm-200 {
    margin-bottom: 200px !important;
  }
}