.mgb-0 {
	margin-bottom: 0 !important;
}

.mgb-5 {
  margin-bottom: 5px !important;
}

.mgb-10 {
  margin-bottom: 10px !important;
}

.mgb-15 {
  margin-bottom: 15px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.mgb-25 {
  margin-bottom: 25px !important;
}

.mgb-30 {
  margin-bottom: 30px !important;
}

.mgb-35 {
  margin-bottom: 35px !important;
}

.mgb-40 {
  margin-bottom: 40px !important;
}

.mgb-45 {
  margin-bottom: 45px !important;
}

.mgb-50 {
  margin-bottom: 50px !important;
}

.mgb-55 {
  margin-bottom: 55px !important;
}

.mgb-60 {
  margin-bottom: 60px !important;
}

.mgb-65 {
  margin-bottom: 65px !important;
}

.mgb-70 {
  margin-bottom: 70px !important;
}

.mgb-75 {
  margin-bottom: 75px !important;
}

.mgb-80 {
  margin-bottom: 80px !important;
}

.mgb-85 {
  margin-bottom: 85px !important;
}

.mgb-90 {
  margin-bottom: 90px !important;
}

.mgb-95 {
  margin-bottom: 95px !important;
}

.mgb-100 {
  margin-bottom: 100px !important;
}