.mgl-0 {
	margin-bottom: 0 !important;
}

.mgl-5 {
  margin-bottom: 5px !important;
}

.mgl-10 {
  margin-bottom: 10px !important;
}

.mgl-15 {
  margin-bottom: 15px !important;
}

.mgl-20 {
  margin-bottom: 20px !important;
}

.mgl-25 {
  margin-bottom: 25px !important;
}

.mgl-30 {
  margin-bottom: 30px !important;
}

.mgl-35 {
  margin-bottom: 35px !important;
}

.mgl-40 {
  margin-bottom: 40px !important;
}

.mgl-45 {
  margin-bottom: 45px !important;
}

.mgl-50 {
  margin-bottom: 50px !important;
}

.mgl-55 {
  margin-bottom: 55px !important;
}

.mgl-60 {
  margin-bottom: 60px !important;
}

.mgl-65 {
  margin-bottom: 65px !important;
}

.mgl-70 {
  margin-bottom: 70px !important;
}

.mgl-75 {
  margin-bottom: 75px !important;
}

.mgl-80 {
  margin-bottom: 80px !important;
}

.mgl-85 {
  margin-bottom: 85px !important;
}

.mgl-90 {
  margin-bottom: 90px !important;
}

.mgl-95 {
  margin-bottom: 95px !important;
}

.mgl-100 {
  margin-bottom: 100px !important;
}