.mgl-0 {
	margin-left: 0 !important;
}

.mgl-5 {
  margin-left: 5px !important;
}

.mgl-10 {
  margin-left: 10px !important;
}

.mgl-15 {
  margin-left: 15px !important;
}

.mgl-20 {
  margin-left: 20px !important;
}

.mgl-25 {
  margin-left: 25px !important;
}

.mgl-30 {
  margin-left: 30px !important;
}

.mgl-35 {
  margin-left: 35px !important;
}

.mgl-40 {
  margin-left: 40px !important;
}

.mgl-45 {
  margin-left: 45px !important;
}

.mgl-50 {
  margin-left: 50px !important;
}

.mgl-55 {
  margin-left: 55px !important;
}

.mgl-60 {
  margin-left: 60px !important;
}

.mgl-65 {
  margin-left: 65px !important;
}

.mgl-70 {
  margin-left: 70px !important;
}

.mgl-75 {
  margin-left: 75px !important;
}

.mgl-80 {
  margin-left: 80px !important;
}

.mgl-85 {
  margin-left: 85px !important;
}

.mgl-90 {
  margin-left: 90px !important;
}

.mgl-95 {
  margin-left: 95px !important;
}

.mgl-100 {
  margin-left: 100px !important;
}