.mgr-0 {
	margin-bottom: 0 !important;
}

.mgr-5 {
  margin-bottom: 5px !important;
}

.mgr-10 {
  margin-bottom: 10px !important;
}

.mgr-15 {
  margin-bottom: 15px !important;
}

.mgr-20 {
  margin-bottom: 20px !important;
}

.mgr-25 {
  margin-bottom: 25px !important;
}

.mgr-30 {
  margin-bottom: 30px !important;
}

.mgr-35 {
  margin-bottom: 35px !important;
}

.mgr-40 {
  margin-bottom: 40px !important;
}

.mgr-45 {
  margin-bottom: 45px !important;
}

.mgr-50 {
  margin-bottom: 50px !important;
}

.mgr-55 {
  margin-bottom: 55px !important;
}

.mgr-60 {
  margin-bottom: 60px !important;
}

.mgr-65 {
  margin-bottom: 65px !important;
}

.mgr-70 {
  margin-bottom: 70px !important;
}

.mgr-75 {
  margin-bottom: 75px !important;
}

.mgr-80 {
  margin-bottom: 80px !important;
}

.mgr-85 {
  margin-bottom: 85px !important;
}

.mgr-90 {
  margin-bottom: 90px !important;
}

.mgr-95 {
  margin-bottom: 95px !important;
}

.mgr-100 {
  margin-bottom: 100px !important;
}