.mgr-0 {
	margin-right: 0 !important;
}

.mgr-5 {
  margin-right: 5px !important;
}

.mgr-10 {
  margin-right: 10px !important;
}

.mgr-15 {
  margin-right: 15px !important;
}

.mgr-20 {
  margin-right: 20px !important;
}

.mgr-25 {
  margin-right: 25px !important;
}

.mgr-30 {
  margin-right: 30px !important;
}

.mgr-35 {
  margin-right: 35px !important;
}

.mgr-40 {
  margin-right: 40px !important;
}

.mgr-45 {
  margin-right: 45px !important;
}

.mgr-50 {
  margin-right: 50px !important;
}

.mgr-55 {
  margin-right: 55px !important;
}

.mgr-60 {
  margin-right: 60px !important;
}

.mgr-65 {
  margin-right: 65px !important;
}

.mgr-70 {
  margin-right: 70px !important;
}

.mgr-75 {
  margin-right: 75px !important;
}

.mgr-80 {
  margin-right: 80px !important;
}

.mgr-85 {
  margin-right: 85px !important;
}

.mgr-90 {
  margin-right: 90px !important;
}

.mgr-95 {
  margin-right: 95px !important;
}

.mgr-100 {
  margin-right: 100px !important;
}