.mgt-0 {
	margin-top: 0 !important;
}

.mgt-5 {
  margin-top: 5px !important;
}

.mgt-10 {
  margin-top: 10px !important;
}

.mgt-15 {
  margin-top: 15px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgt-25 {
  margin-top: 25px !important;
}

.mgt-30 {
  margin-top: 30px !important;
}

.mgt-35 {
  margin-top: 35px !important;
}

.mgt-40 {
  margin-top: 40px !important;
}

.mgt-45 {
  margin-top: 45px !important;
}

.mgt-50 {
  margin-top: 50px !important;
}

.mgt-55 {
  margin-top: 55px !important;
}

.mgt-60 {
  margin-top: 60px !important;
}

.mgt-65 {
  margin-top: 65px !important;
}

.mgt-70 {
  margin-top: 70px !important;
}

.mgt-75 {
  margin-top: 75px !important;
}

.mgt-80 {
  margin-top: 80px !important;
}

.mgt-85 {
  margin-top: 85px !important;
}

.mgt-90 {
  margin-top: 90px !important;
}

.mgt-95 {
  margin-top: 95px !important;
}

.mgt-100 {
  margin-top: 100px !important;
}