/* line 1, ../sass/margins/_bottom.scss */
.mgb-0 {
  margin-bottom: 0 !important;
}

/* line 5, ../sass/margins/_bottom.scss */
.mgb-5 {
  margin-bottom: 5px !important;
}

/* line 9, ../sass/margins/_bottom.scss */
.mgb-10 {
  margin-bottom: 10px !important;
}

/* line 13, ../sass/margins/_bottom.scss */
.mgb-15 {
  margin-bottom: 15px !important;
}

/* line 17, ../sass/margins/_bottom.scss */
.mgb-20 {
  margin-bottom: 20px !important;
}

/* line 21, ../sass/margins/_bottom.scss */
.mgb-25 {
  margin-bottom: 25px !important;
}

/* line 25, ../sass/margins/_bottom.scss */
.mgb-30 {
  margin-bottom: 30px !important;
}

/* line 29, ../sass/margins/_bottom.scss */
.mgb-35 {
  margin-bottom: 35px !important;
}

/* line 33, ../sass/margins/_bottom.scss */
.mgb-40 {
  margin-bottom: 40px !important;
}

/* line 37, ../sass/margins/_bottom.scss */
.mgb-45 {
  margin-bottom: 45px !important;
}

/* line 41, ../sass/margins/_bottom.scss */
.mgb-50 {
  margin-bottom: 50px !important;
}

/* line 45, ../sass/margins/_bottom.scss */
.mgb-55 {
  margin-bottom: 55px !important;
}

/* line 49, ../sass/margins/_bottom.scss */
.mgb-60 {
  margin-bottom: 60px !important;
}

/* line 53, ../sass/margins/_bottom.scss */
.mgb-65 {
  margin-bottom: 65px !important;
}

/* line 57, ../sass/margins/_bottom.scss */
.mgb-70 {
  margin-bottom: 70px !important;
}

/* line 61, ../sass/margins/_bottom.scss */
.mgb-75 {
  margin-bottom: 75px !important;
}

/* line 65, ../sass/margins/_bottom.scss */
.mgb-80 {
  margin-bottom: 80px !important;
}

/* line 69, ../sass/margins/_bottom.scss */
.mgb-85 {
  margin-bottom: 85px !important;
}

/* line 73, ../sass/margins/_bottom.scss */
.mgb-90 {
  margin-bottom: 90px !important;
}

/* line 77, ../sass/margins/_bottom.scss */
.mgb-95 {
  margin-bottom: 95px !important;
}

/* line 81, ../sass/margins/_bottom.scss */
.mgb-100 {
  margin-bottom: 100px !important;
}
